<footer class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="bottom__title">
                    <p>Our Food</p>
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">Menu</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Specials</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Nutrition Facts</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Ship A Pizza</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="bottom__title">
                    <p>Our Company</p>
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">What Is St.Louis-Style Pizza</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Our History</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Rewards</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="bottom__title">
                    <p>Contact </p>
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">Find A Location</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Join The Team</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Contact Corporate</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="bottom__background text-center">
                    <ul class="bottom__lists">
                        <li class="bottom__items"><a href="#" class="bottom__links">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__items"><a href="#" class="bottom__links">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a></li>
                        <li class="bottom__items"><a href="#" class="bottom__links">
                            <svg class="bottom__icon">
                                <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </a></li>
                    </ul>
                    <div class="bottom__content">
                        <p class="square">
                            <em>Get the Square</em>
                        </p>
                        <p class="conntected">
                            stay Conntected!
                        </p>
                    </div>
            </div>
        </div>
    </div>
   
</footer>

<footer class="copy">
    <div class="container">
        <div class="row">
           
                <ul class="copy__copylist">
                    <li class="copy__copyitem"><p class="copy__copypara">&copy; 2020 Imo's Fanchising, Inc, All rights reserved.</p></li>
                    <li class="copy__copyitem"><a href="#" class="copy__copylink">Terms of Use</a></li>
                    <li class="copy__copyitem"><a href="#" class="copy__copylink">Privacy Policy</a></li>
                </ul>
           
        </div>
    </div>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/imos.js"></script>
</html>