.nav{
    &__button{
       margin-top: .5rem;
       margin-left: .8rem;
    }
    &__link{
       @include colorBtn;

       @include respond(tab-land){
        margin-left: -1rem;
            padding: .7rem 1.5rem;
  
       }
    }
}
.pumpkin{
  &__button{
   margin-top: 2rem;
  }
  &__link{
      @include colorBtnT;
      margin-right: 1rem;
  }
  &__linkw{
      @include colorBtnBw;
  }
 }

 .rewards{
   &__button{
      margin-top: 2rem;
   }
   &__link{
       font-size: 1rem;
       color: #463d40;
       text-transform: uppercase;
       background-color: #fff;
       padding: 1rem 1.5rem;
       border-radius: .2rem;
       &:hover{
           color: #463d40;
           text-decoration: none;
       }
    
   }

 }

 .customer{
   
   &__link{
       font-size: 1rem;
       color: #fff;
       font-weight: bold;
       &:hover{
           color: #fff;
           text-decoration: none;
       }
   }
   &__buttons{
     margin-top: 2rem;
   }
   &__linkg{
       font-size: 1rem;
       color: #fff;
       text-transform: uppercase;
       background-color: var(--button-color);
       padding: 1rem 1.7rem;
       border-radius: .2rem;
       &:hover{
           color: #fff;
           text-decoration: none;
       }
   }
 }