<%- include('partials/homeHeader') %>
<section class="pumpkin">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="pumpkin__content">
                    <h1><em>limited Time</em></h1>
                    <h2>New! Pumpkin <br> Spice Cinnimos</h2>
                    <p>
                        Your favorite Imo's dessert inour new fall flavor. Sweet.Spicy. 
                        Perfectly Pumpkin-y. Pubmpkin Spice Cinnimos have arrived!
                    </p>
                    <div class="pumpkin__button">
                        <a href="#" class="pumpkin__link">Order Online</a>
                        <a href="#" class="pumpkin__linkw">View Our Specials</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="meals">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="meals__images">
                   <div class="meals__content">
                       <p class="bgM">
                           Big Meal Deal
                       </p>
                       <p class="price">
                           $22.95
                       </p>
                       <p class="details">
                           XL 1-Topping Pizza, House Salad, and Cheese Garlics
                       </p>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="meals__images2">
                   <div class="meals__content">
                       <p class="bgM">
                           New Cinnimo Special
                       </p>
                       <p class="price">
                           FREE
                       </p>
                       <p class="details">
                           Pumpkin Spice Cinnimos with purchase of XL Pizza
                       </p>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="meals__images3">
                   <div class="meals__content">
                       <p class="bgM">
                           XL Pizza Special
                       </p>
                       <p class="price">
                           $29.95
                       </p>
                       <p class="details">
                           2 XL- Topping Pizza
                       </p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rewards">
    <div class="container">
      
            <div class="rewards__content text-center">
                <h2>Imo's Beyond Compare <br> Rewards</h2>
                <p>Pat yourself on the back with free pizza, appetizers, and offers!</p>
                <div class="rewards__button">
                    <a href="#" class="rewards__link">Join Imo's Rewards</a>
                </div>
         
        </div>
    </div>
</section>
<section class="customer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="customer__images">
                   <div class="customer__content">
                       <h3>What Make Imo's so Delicous?</h3>
                       <p>
                           From homemade sauce to fresh ground meats, daily cut vegetables gooey Provel, 
                           all our ingredients are what they sound, delicious! 
                       </p>
                       <div class="customer__button">
                           <a href="#" class="customer__link">Discover The IMO'S Difference</a>
                       </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="customer__images2">
                   <div class="customer__content">
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <br>
                       <h3>Place an Order for Pickup or Delivery</h3>
                       <div class="customer__buttons">
                           <a href="#" class="customer__linkg">Online Order</a>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<%- include('partials/footer') %>