.meals{
    margin: 2rem 0 1rem 0;

    &__images{
        background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.2)), url(/images/big-meal-deal-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 14rem;
        border-radius: .3rem;
        padding: 2rem;
    }
    &__images2{
        background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.2)), url(/images/New-cinnimo-special-free-bg-min.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 14rem;
        border-radius: .3rem;
        padding: 2rem;
    }
    &__images3{
        background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,.2)), url(/images/XL-pizza-special.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 14rem;
        border-radius: .3rem;
        padding: 2rem;
    }
}
.meals .col-lg-4{
    margin-bottom: 2rem;
}